<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tabletopscorekeeper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SheriffActivity"
            android:label="@string/sheriff_game"
            android:parentActivityName=".MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity">
        </meta-data>
        </activity>

        <activity android:name=".FiveTribesActivity"
            android:label="@string/five_tribes_game"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>

        <activity android:name=".SushiGoActivity"
            android:label="@string/sushi_go_game"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity">
            </meta-data>
        </activity>

        <activity android:name=".SheriffScoreActivity"
            android:label="@string/sheriff_game"
            android:parentActivityName=".SheriffActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SheriffActivity">
            </meta-data>
        </activity>

    </application>

</manifest>